* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  padding: 20px;
  justify-content: space-between;
}

header section {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.section {
  width: 100%;
}

.icon {
  width: calc(40%);
  max-width: 200px;
}

body {
  max-width: 1200px;
  margin: auto;
}

.searchBar input {
  height: 40px;
  width: calc(100% - 60px);
  border-radius: 10px;
  box-shadow: inset -3px 3px 8px 0px rgba(0, 0, 0, 0.36);
  padding-left: 20px;
}

.searchBar button {
  width: 30px;
  background-color: transparent;
  border: none;
}

.searchBar button img {
  width: 100%;
}

.searchBar {
  width: calc(100% - 200px);
  display: flex;
  align-items: center;
  gap: 10px;
}

nav {
  display: flex;
  margin-top: 20px;
}

nav ul {
  display: flex;
  list-style: none;
  width: 100%;
  flex-grow: 1;
  justify-content: space-between;
  flex: 14%;
}

nav ul li a:hover {
  color: rgb(73, 73, 73);
  text-decoration: none;

  font-weight: bolder;
}

nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  max-width: 1000px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}

main section {
  display: flex;
  align-items: center;
  gap: 50px;
}

main section img {
  width: 45%;
}

main section p {
  width: calc(55% - 20px);
  line-height: 1.2;
  font-size: 20px;
  text-indent: 1rem;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
